body {
  background: #000;
  overflow:hidden;
  //background: url('https://dl.dropboxusercontent.com/u/4534978/2014/fishes/bg2.jpg') no-repeat center center fixed;
  background-size:cover;
}

.container {
  position:absolute;
  //left: 50%;
  //margin-left: -700px;
  //top: 50%;
  //margin-top: -300px;
  bottom: 0;
  height: 600px;
  width: 640px;
}

* {
  margin: 0;
  padding: 0;
}

#fishbitmap {
  display: none;
}