html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
body {
  vertical-align: baseline;
  font-size: 16px;
  font-size: 1.6rem;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: #333333;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background: #939FC2;
}
@media screen and (max-width: 30em) {
  body {
    -webkit-hyphens:auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto
  }
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  background: url("../img/bg.png");
  background-size: 100% 100%;
  overflow: hidden;
}

.wrapper-inner {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 640px;
  margin: 0 auto;
}

.sidebar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 316px;
  z-index: 100;
}
.sidebar li {
  width: 100%;
}
.sidebar li img {
  display: block;
  width: 100%;
}
.leave-right {
  position: absolute;
  right: 0;
  top: 0;
}
.leave-right img {
  width: 100%;
}


#carouselOuterContainer {
  width: 280px;
  height: 280px;
  background: #F9F3A0;
  border-radius: 50%;
  position: absolute;
  left: 125px;
  top: -50px;
  z-index: 111;
}
#carouselContainer {
  width: 250px;
  height: 250px;
  margin: 15px auto;
  display: none;
}
#carouselContainer .owl-item img{
  border-radius: 50%;
}

#imgDetail {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  left: 0;
  top: 0;
  z-index: 11111;
}
.current-img {
  position: absolute;
  left: 50%;
  top: 200px;
  width: 80%;
  margin-left: -40%;
}
.current-img img {
  display: block;
  width: 100%;
}

.btn-close {
  right: 10%;
  top:30px;
  position: absolute;
  width: 28px;
  height: 29px;
  background: url("../img/btn_close.png");
}
.btn-continue {
  position: absolute;
  border: 0;
  left: 50%;
  bottom: 50px;
  margin-left: -96px;
  width: 192px;
  height: 60px;
  background: url("../img/btn_tbc.png");
}


.october-leaf {
  position: absolute;
  background-color: transparent;
  background-image: url('../img/leaf1.png');
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}


.cloud {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 242px;
  background: url("../img/cloud.png") repeat;
}

.lake {
  position: absolute;
  right: 115px;
  bottom: 30px;
  width: 267px;
  height: 150px;
  background: url("../img/shadow.png");
  z-index: 100;
}
.lake #shadow {
  width: 100%;
}
.lake #stone1 {
  position: absolute;
  left: 115px;
  top: -40px;
}
.lake #stone2 {
  position: absolute;
  left: 160px;
  top: -6px;
}
.lake #stone3 {
  position: absolute;
  left: 20px;
  top: 80px;
}

#fishContainer {
  position: absolute;
  right: 400px;
  bottom: 230px;
  -o-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -moz-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
}

.poem {
  display: block;
  margin-top: 67px;
  margin-left: 64px;
}
.poem .v-item {
  width: 20px;
  display: none;
  font-size: 16px;
}

.text {
  font-size: 18px;
  position: absolute;
  right: 50px;
  top: 245px;
  /*background: #C6CBDF;*/
  width: 380px;
  padding: 25px;
  box-sizing: border-box;
  /*border-radius: 50px;*/
  z-index: 1111;
}
.text p {
  /*text-decoration: underline;*/
}
.text .text-content {
  margin: 30px auto;
}

.vertical {
  overflow: hidden;
}
.vertical .v-item {
  float: left;
}
.vertical .v-item-space {
  width: 20px;
  float: right;
  height: 100px;
}

.slide {
  background: #FFFFFF;
  display: none;
}
.slide-item-content {
  height: 900px;
}
.slide-item-content img{
  width: 100%;
  display: block;
}
.slide-menu {
  position: absolute;
}
.slide-back {
  width: 70px;
  height: 70px;
  right: 42px;
  top: 40px;
}
.slide-forward {
  width: 70px;
  height: 50px;
  left: 50%;
  margin-left: -35px;
  bottom: 40px;
}
.slide-close, .modal-close {
  position: fixed;
  font-size: 30px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  z-index: 111111;
  top: 43px;
  left: 23px;
  background-color: #333;
}
.slide-go-feedback {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 111111;
  bottom: 30px;
  right: 270px;
  background-color: transparent;
}

.lotus {
  position: absolute;
  bottom: 230px;
  left: 0px;
  width: 100%;
}
.lotus .lotus-1 {
  position: absolute;
  right: 0px;
  top: -142px;
  width: 240px;
}
.lotus .lotus-2 {
  position: absolute;
  left: 0;
  width: 90px;
}
.modal {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/bg.png");
  background-size: 100% 100%;
  left: 0;
  top: 0;
  z-index: 11111;
  max-width: 640px;
}
.modal .modal-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 320px;
  z-index: -1;
}
.modal .modal-bg img {
  width: 100%;
  display: block;
}

.form-group {
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
  line-height: 36px;
  font-size: 20px;
}
.form-group.first {
  margin-top: 100px;
}
.form-group label {
  display: block;
}
.form-group input[type=radio] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  -webkit-appearance: none;
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-bottom;
  padding: 0;
}
.form-group input[type=radio]:checked {
  background: #51A441;
}
.form-group .form-control {
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  border: 0;
  box-sizing: border-box;
}
.form-group textarea.form-control {
  height: 150px;
}

.modal .btn {
  color: #fff;
  margin: 0 auto;
  height: 50px;
  width: 200px;
  background: #52A53F;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 30px;
}
.loading {
  display: block;
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 50px;
  position: fixed;
}
.loading .loading-info {
  margin-top: 65%;
}

.light {
  position: absolute;
  width: 32px;
  height: 32px;
  background: url("../img/light1.png");
  background-size: 100% 100%;
  -webkit-animation: shining 1.5s infinite; /* Safari 4+ */
  -moz-animation:    shining 1.5s infinite; /* Fx 5+ */
  -o-animation:      shining 1.5s infinite; /* Opera 12+ */
  animation:         shining 1.5s infinite;
}
@-webkit-keyframes shining {
  0% { background: url("../img/light1.png"); background-size: 100% 100%;}
  50% { background: url("../img/light2.png"); background-size: 100% 100%;}
  100% { background: url("../img/light1.png"); background-size: 100% 100%;}
}
@keyframes shining {
  0% { background: url("../img/light1.png"); background-size: 100% 100%;}
  50% { background: url("../img/light2.png"); background-size: 100% 100%;}
  100% { background: url("../img/light1.png"); background-size: 100% 100%;}
}
.light-3 {
  left: 87px;
  bottom: 180px;
}
.light-2 {
  left: 20px;
  bottom: 400px;
}
.light-1 {
  left: 33px;
  bottom: 708px;
}
.light-4 {
  left: 11px;
  bottom: 26px;
}
.light span {
  position: absolute;
  width: 50px;
  color: #fff;
  top: 100%;
}

.share-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  left: 0;
  top: 0;
  display: none;
  z-index: 11111;
}
.share-tip {
  position: absolute;
  background: url(../img/share_text.png);
  background-size: 484px;
  width: 484px;
  height: 210px;
  top: 50px;
  right: 50px;
}
.text-2 {
  display: none;
}
.preview-modal {
  display: none;
  background: transparent;
}